<strong>Olá, {{ deliveryman }} </strong>
<p> A encomenda {{delivery_id}}, foi cancelada</p>
<p>
  <strong>Produto:</strong> {{ product }} <br />
  <strong>Cliente:</strong> {{ recipient }} <br />
  <strong>Problema relatado:</strong> {{ problem }} <br />
  <br />
</p>
