<strong>Olá, {{ deliveryman }} </strong>
<p> Uma nova encomenda foi cadastrada pra você </p>
<p>
  <strong>Data da encomenda:</strong> {{ createdAt_date }} <br />
  <strong>Produto:</strong> {{ product }} <br />
  <strong>Cliente:</strong> {{ recipient }} <br />
  <strong>Endereço de entrega:</strong> {{ recipient_address }} <br />
  <br />
  <small>
    A encomenda pode ser retirada entre 8:00hrs e 18:00hrs.
  </small>
</p>
